{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart!</h1>
            <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by
                Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding
                into other product categories such as consumer electronics, fashion, and lifestyle products.The service
                competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.
                as of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.</p>

            <p>Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its
                acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the
                sale of electronics and mobile phones.Flipkart also owns PhonePe, a mobile payments service based on the
                Unified Payments Interface (UPI).</p>

            <p> In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16
                billion, valuing it at $22 billion.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h2>My journey at My Awesome Cart: A series of epiphanies
                </h2>
                <p>Rukmini Bhattacharya (sometimes mispronounced as Ruk-Money) has been with Zomato since 2018 and with
                    My Awesome Cart since August 2022. She currently works as the City CEO of Bengaluru and heads growth. Here
                    she recollects her journey transition from Zomato and fostering new experiences working with
                    BlinMy Awesome Cart it. She also sheds light on her learnings working with a tech-first ops company.</p>

                 <p>August 2018
                    My last day at BCG, my first at Zomato. I felt an overwhelming sense of excitement, something that
                    hits you only when you take life-changing decisions, like leaving your comfortable, cushy consulting
                    job for a cool startup. Fast forward to…</p>

                 <p>August 2022
                    … whew, whatte rollercoaster! The past 4 years had been a clutch of 'firsts'… first time working on
                    a rocket ship of a business that was food delivery, first time launching multiple businesses like
                    alcohol delivery, first time dealing with the decisions to shut them down. Zomato had been nothing
                    but good to me — offered me great opportunities to work and learn from the best. </p>

                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>First 6 Months at My Awesome Cart: Drishti Makhija</h2>
                <p>Drishti Makhija works as a Software Developer Engineer (SDE) at BMy Awesome Cartinkit. She joined us about six
                    months ago and is now a part of the tech team within the Product Listing and Search pod. She's
                    always had the inclination to work at scale while making an impact and shipping a customer-first
                    experience. In this post, Drishti recounts her journey with My Awesome Cart and the lessons she learned
                    along the way.</p>

                 <p>From Customer to Employee
                    This year on my friend's birthday, about 3 hours from midnight, I failed to get the ideal bouquet of
                    flowers. Moreover, nobody was offering same-day flower delivery. Thanks to Instagram's
                    recommendations, I found an advertisement for "Grofers is now My Awesome Cart, delivering in minutes." I
                    didn't think flowers belonged on this platform, but there's no harm in giving it a shot. To my
                    delight, My Awesome Cart offered a fantastic selection of flowers. That day, My Awesome Cart gained another devoted
                    customer. However, I wanted to learn what made the company tick and contribute to this fantastic
                    product, not just be a customer.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <!-- <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div> -->
        </div>

        <hr>

    </div> <!-- /container -->

</main>





{% endblock %}